body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #FAFAFA;
    }
  
  .menu {
    padding: 15px 10px;
    display: grid;
    grid-template-columns: minmax(auto, 1024px);
    justify-content: right;
    background-color: #fafafa;

    /* background: #4981fd; */
  }
  
  .menu--content {
    display: grid;
    grid-template-columns: 5% repeat(4, 1fr);
    align-items: center;
    justify-items: right;
  }
  
  .menu--content__logo img {
    display: flex;
    justify-items: left;
    max-height: 60px;
    filter: invert(10%) sepia(71%) saturate(3191%) hue-rotate(235deg) brightness(78%) contrast(128%);
  }
  
  .menu--content__item a {
    text-decoration: none;
    color: black;
    font-weight: 800;
  }
  
  .menu--content__item a:hover {
    text-decoration: underline;
  }
  
  .data {
    padding: 10px 10px;
    display: grid;
    grid-template-columns: minmax(auto, 1024px);
    justify-content: center;
    background-color: #9CC7EB;
    background-image: linear-gradient(180deg, #fafafa 25%, #9CC7EB 100%);
     /*background-color: #146dcc;
    background-image: linear-gradient(315deg, #146dcc 25%, #2b32b2 100%);
  */}
  
  .data--container {
    display: grid;
    justify-items: center;
  }
  
  .data--container__img img {
    max-width: 200px;
    border-radius: 30%;
  }
  
  .title {
    font-size: 28px;
    text-align: center;
    font-weight: 600;
  }
  
  .data--container__description p {
    text-align: justify;
    font-size: 18px;
    line-height: 26px;
  }
  
  .social--container {
    padding: 10px 20px;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: #fafafa;
  }

  .social--container .title {
    margin-bottom: 10px;
  }

  .social-networks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
    
  .social-networks--item {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .social-networks--item__mail {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .social-networks--item__mail a{
    text-decoration: none;
    display: grid;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 800;
  }

  .social-networks--item__mail a:hover {
    text-decoration: underline;
  }
  
  .container {
    padding: 10px 30px;
    display: grid;
    grid-template-columns: minmax(auto, 1024px);
    justify-content: center;
    align-content: center;
    background: #5BA1DC;
  }
  
  .container .title {
    margin-bottom: 30px;
  }
  
  .container--title {
    text-align: center;
    font-size: 20px;
    font-weight: 800;
  }
  
  .container--post {
    padding: 10px 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px 40px;
  }
  
  @media screen and (max-width: 600px) {
    .container--post {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 20px 40px;
    }
  
    .menu--content {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      justify-items: center;
    }
  }
  
  .container--post a {
    text-decoration: none;
    color: black;
  }
  
  .container--post a:visited {
    text-decoration: none;
    color: black;
  }
  
  .container--post__card {
    display: grid;
    grid-template-columns: 1fr;
    /* background: #e0e0e0; */
    background: white;
    border-radius: 20px;
    /*box-shadow: 1px 5px 12px 2px #888888;*/
  }
  
  .post--card__img img {
    width: inherit;
    max-width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  .post--card__body {
    padding: 15px;
  }
  
  .title-post {
    font-size: 20px;
    font-weight: 600;
    text-align: justify;
  }
  
  .description-post {
    text-align: justify;
  }

  .menu--content__footer {
    text-align: center;
    color: BLACK;
  }